<!--
<div id="header" class="row">
  <div class="text-center
              offset-lg-1 col-lg-10
              offset-md-1 col-md-10
              offset-sm-2 col-sm-8
              offset-2    col-8">
    <a class="header" href="/">
      {{ .Site.Title }}
    </a>
  </div>
</div>
-->
<div id="options" class="row">
  <div class="text-center
              offset-lg-1 col-lg-10
              offset-md-1 col-md-10
              offset-sm-2 col-sm-8
              offset-2    col-8">
    <a class="header" href="/">home</a> |
    <a class="header" href="/tags">tags</a> |
    <a class="header" href="/categories">categories</a> |
    <a class="header" href="/sites">sites</a>
  </div>
</div>
<div id="options" class="row">
  <div class="text-center
              offset-lg-1 col-lg-10
              offset-md-1 col-md-10
              offset-sm-2 col-sm-8
              offset-2    col-8">
    <form action="{{ "search" | absURL }}">
      <input id="search-query" name="s"/>
    </form>
  </div>
</div>
